body {
    background: #FCFCFC;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-container {
    display: flex;
    flex-direction: row;
}

.new-note-box {
    width: 300px;
    margin-top: 150px;
    background: #7A7A80;
    margin-right: 100px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    max-height: 367px;
}
.new-note-box-title {
    font-size: 30px;
    text-align: center;
    margin: 10px;
    font-weight: 600;
}

.new-note-form {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.note-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.note-column {
    width: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px;
}

.note {
    width: 210px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #C0C0C1;
    margin: 5px 0px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-out;
}

.note-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.note:hover {
    background: rgba(0, 0, 0, 0.1);
}

.note-text {
    word-wrap: break-word;
}

.note-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.note-buttons button {
    margin: 0px 10px;
}

.note-buttons button:hover {
    cursor: pointer;
}

.note-pin-row {
    width: 240px;
    display: flex;
    flex-direction: row;
    margin: 0px 5px;
}

.note-box-column {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    padding: 50px;
    background: #7A7A80;
    width: 1000px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.note-pin {
    width: 210px;
    min-width: 210px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #C0C0C1;
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-out;
}

.btn-plus {
    color: green;
    font-size: 18px;
}

.btn-minus {
    color: red;
    font-size: 18px;
}

.btn-pin {
    color: dodgerblue;
    font-size: 18px;
}

.note-buttons button {
    background-color: transparent;
    border: 0px;
}